h1{ 
    text-align: center;
    color:rgb(196, 37, 103);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    margin-top: 1rem;
}

.navbar ul{list-style-type:none;
            background-color: pink;
            padding:0px;
            margin:0px;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
}

.navbar li{ flex: 1 1 auto;
            text-align: center;}

.navbar a{color:black;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
    transition: background-color 0.3s ease;

}
.navbar a:hover{background-color: rgb(216, 97, 117);}

.page-wrapper {display: flex;
               min-height: 100vh;}

body{
    background-color: rgb(223, 159, 194);
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font size:1.1em;
    font style::details-content;
    margin: 0;
    padding: 0;}

main{ margin: 20px;
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;}
.intro {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;}
.logo { max-width: 100%;
        height: auto;
        width: 200px;}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}